################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/varolmayanproje/FileContentIndex/c1d0edba-8755-40be-89d0-3bcff96a44ba.vsidx
